:root{
    --color-fondo: #ffe4c4;
    --color-haeder-footer: #deb887;
    --color-texto: #292929;
    --color-texto-hover: #acacac;
    --color-sombra: #000;
    --color-fondo-codigo: #f9f9f9;
    --color-borde-codigo: #7f8c8d;
}


.card{
    background-color: var(--color-fondo-defecto);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--color-sombra);
    margin-top: 20px;
}
